<!doctype html>
<html>
<head>
	<title>shopnow.com</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<header>
		<div class="branding">
			<a href="/">ShopNow.com</a>
		</div>
		<nav>
			<ul>
				<li><a href="/products">Products</a></li>
				<li><a href="/signin">Login</a></li>
				<li><a href="/cart">Cart</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<article>
		{{{body}}}
		</article>
	</main>
	<footer>
		<ul>
			<li><a href="/products/new">Add Product</a></li>
			<li><a href="/account/new">Create Account</a></li>
			<li><a href="/orders">My Orders</a></li>
		</ul>
	</footer>

	<script src="/js/scripts.js"></script>
</body>
</html>