<h1>Home</h1>

<p>All pages:</p>
<a href="/products/new">Add product</a>
<a href="/products">products</a>
<a href="/products/0">single product</a>
<a href="/account/new">create account</a>
<a href="/account/0">account</a>
<a href="/cart">cart</a>
<a href="/checkout">order</a>