<h1>Home</h1>

<p>All pages:</p>
<a href="">create product</a>
<a href="">products</a>
<a href="">single product</a>
<a href="">create account</a>
<a href="">account</a>
<a href="">cart</a>
<a href="">order</a>