html, body {
    margin: 0;
    height: 100%;
    min-height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

header {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    height: 80px;
    padding: 0 40px;
}
header .branding {
    flex: 0 0 auto;
    height: 80px;
    line-height: 80px;
}
header .branding a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
header nav {
    flex: 1 1 auto;
}
header ul {
    padding: 0;
    text-align: right;
}
header ul li {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 20px;
    padding: 4px;
    line-height: 40px;
}
header ul li a {
    color: #999;
    font-weight: 200;
    text-decoration: none;
}

main {
    flex: 1 1 auto;
    padding: 20px 40px;
    background-color: #eaeaea;
}
main article {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
}
main button, main a {
    display: inline-block;
    min-width: 120px;
    height: 32px;
    margin-bottom: 8px;
    padding: 0 8px;
    background-color: #fff;
    color: #333;
    border: none;
    vertical-align: top;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main button:hover, main a:hover {
    box-shadow: 1px 1px 3px 0 #ccc;
}

footer {
    flex: 0 0 auto;
    height: 80px;
    background-color: #333;
    color: #ccc;
}
footer ul {
    padding: 0;
    text-align: center;
}
footer ul li {
    display: inline-block;
    list-style: none;
    margin: 0 10px;
    padding: 4px;
    line-height: 40px;
}
footer ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 13px;
}

/* form styles */
form {
    margin-bottom: 40px;
}

form fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
form fieldset label {
    font-size: 13px;
}
form fieldset input {
    width: 100%;
    height: 32px;
    margin: 4px 0 20px;
    padding: 0 8px;
    font-size: 14px;
}
form fieldset textarea {
    width: 100%;
    font-size: 14px;
    padding: 4px 8px;
}
form button, form a {
    margin-top: 16px;
}

/* product list styles */
ul.products-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-gap: 8px 8px;
}
ul.products-list li {
    list-style: none;
    display: inline-block;
    margin-bottom: 20px;

}
ul.products-list li h2 {
    font-size: 14px;
    margin: 0;
}
ul.products-list li p {
    margin: 0;
}
ul.products-list li a, ul.products-list li button {
    display: inline-block;
    margin-top: 20px;
}

/* review styles */
.review-editor, .product-editor {
    display: none;
}
.review-editor.showEditor, .product-editor.showEditor {
    display: block;
}
