<h1>Create Account</h1>
<form method="POST" action="/account/new">
    <fieldset>
        <label>Email
            <input type="text" name="email">
        </label>
        <label>First name
            <input type="text" name="fname">
        </label>
        <label>Last name
            <input type="text" name="lname">
        </label>
        <label>Birthday
            <input type="text" name="birthday">
        </label>   
        
        <button type="submit">Create</button>
    </fieldset>
</form>