<h1>Create Account</h1>
<form>
    <fieldset>
        <input type="text" name="email">
        <input type="text" name="fname">
        <input type="text" name="lname">
        <input type="text" name="birthday">
        <button type="submit">Create</button>
    </fieldset>
</form>