<h1>Create Account</h1>
<form method="POST" action="/account/new">
    <fieldset>
        <label>Email
            <input type="text" name="email">
        </label>
        <label>First name
            <input type="text" name="firstName">
        </label>
        <label>Last name
            <input type="text" name="lastName">
        </label>
        <label>Birthday
            <input type="date" name="birthdate">
        </label>

        <label> Address line 1
            <input type="text" name="street1">
        </label>
        <label> Address line 2
            <input type="text" name="street2">
        </label>
        <label> City
            <input type="text" name="city">
        </label>
        <label> State
            <select name="state">
                {{#each states}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </label>
        <label> Zipcode
            <input type="text" name="zip">
        </label>
        
        <button type="submit">Create</button>
    </fieldset>
</form>