<h1>Create Account</h1>
<form method="POST" action="/account/new">
    <fieldset>
        <label>Email
            <input type="text" name="email">
        </label>
        <label>First name
            <input type="text" name="firstName">
        </label>
        <label>Last name
            <input type="text" name="lastName">
        </label>
        <label>Birthday
            <input type="text" name="birthday">
        </label>

        <label> Address line 1
            <input type="text" name="street1">
        </label>
        <label> Address line 2
            <input type="text" name="street2">
        </label>
        <label> City
            <input type="text" name="city">
        </label>
        <label> State
            <input type="text" name="state">
        </label>
        <label> Zipcode
            <input type="text" name="zip">
        </label>
        
        <button type="submit">Create</button>
    </fieldset>
</form>