<h1>Cart</h1>

<ul class="cart-list">
    {{#each cartItems}}
    <li>
        <h2>{{this.name}}</h2>
        <p>{{this.price}}</p>
        <p>sku: {{this.sku}}</p>
        <p>qty: {{this.qty}}</p>
    </li>
    {{/each}}
</ul>

<a href="/checkout">Checkout</a>
<a href="/products">Continue shopping</a>