<h1>Add Product</h1>
<form>
    <fieldset>
        <input type="number" name="price">
        <input type="text" name="name">
        <input type="text" name="description">
        <input type="text" name="brand">
        <input type="text" name="model">
        <input type="number" name="stock">
        <button type="submit">Add</button>
    </fieldset>
</form>