<h1>Add Product</h1>
<form method="POST" action="/products/new">
    <fieldset>
        <label>Price
            <input type="text" name="price">
        </label>
        <label>Name
            <input type="text" name="name">
        </label>
        <label>Description
            <input type="text" name="description">
        </label>
        <label>Brand
            <input type="text" name="brand">
        </label>
        <label>Model
            <input type="text" name="model">
        </label>
        <label>Qty in stock
            <input type="number" name="stock">
        </label>
    </fieldset>
    <button type="submit">Add</button>
</form>