<h1>Products</h1>

<form method="GET" action="/products">
    <fieldset>
        <label>Search by Product name or SKU
            <input type="text" name="search">
        </label>
    </fieldset>
    <button type="submit">Search</button>
</form>

<ul class="products-list">
    {{#each products}}
    <li>
        <h2>{{this.name}}</h2>
        <p>${{this.price}}</p>
        <p>SKU: {{this.sku}}</p>
        <a href="/products/{{this.id}}">view</a>
    </li>
    {{/each}}
</ul>
{{#unless products}}
    <p>no results.</p>
{{/unless}}